body {
    background-color: #fffc41;
    font-family: Arial, sans-serif;
}

.form-container {
    width: 500px;
    margin: 200px auto;
    padding: 35px;
    background-color: rgb(255, 134, 64);
    box-shadow: 10px 10px lightblue;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: rgb(4, 0, 255);
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #09ff00;
    color: rgb(255, 0, 0);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b30095;
}
